@using EvoCharacterManager.Models.ViewModels
@using EvoValueManager.Models.Shared
@model ChallengePageViewModel

@{
    ViewBag.Title = "Kihívások";
}

<h2>Kihívások</h2>

<div class="evo-flex">
    @using (Html.BeginForm("ChallengeSelection", "Challenge", FormMethod.Post))
    {
        @Html.DropDownListFor(m => m.SelectedChallengeId, (SelectList)Model.SelectableChallenges, "Válassz egy kihívást",
            new { @class = "form-control evo-margin evo-dropdown evo-dropdown-select", onchange = "this.form.submit();" })
    }
    <button type="button" onclick="toggleAddChallenge()" class="evo-margin btn btn-primary" id="toggleAddChallenge">+</button>
   
</div>

@if (Model.SelectedChallenge != null)
{
    <div class="evo-details-margin">
        <table>
            <tr>
                <td></td>
                <td class="evo-table-values" colspan="2">@Model.SelectedChallenge.Title</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <strong>Elvárt érték</strong>
                </td>
                <td>
                    <strong>Szerezhető érték</strong>
                </td>
            </tr>
            @foreach (var trait in Constants.Traits.Values)

            {
                var gainableTraitValue = Model.SelectedChallenge.GetType().GetProperty($"Gainable{trait.Property}")!.GetValue(Model.SelectedChallenge);
                var requiredTraitValue = Model.SelectedChallenge.GetType().GetProperty($"Required{trait.Property}")!.GetValue(Model.SelectedChallenge);
                
                <tr>
                    <td>
                        <div class="evo-traits-image-small">
                            <img src="@Url.Content(trait.ImageSmall)" alt="@trait.Title" title="@trait.Title"/>
                        </div>
                    </td>
                    <td class="evo-table-values">@(requiredTraitValue ?? "0")</td>
                    <td class="evo-table-values">@(gainableTraitValue ?? "0")</td>
                </tr>
            }
        </table>
    </div>

    <button type="button" onclick="toggleDiv()" class="btn btn-primary" style="margin-top: 10px">Szerkesztés</button>

    <div id="editChallenge" style="display:none;">
        @using (Html.BeginForm("SaveChallengeChange", "Challenge", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.SelectedChallengeId)
            <div class="evo-details-margin">
                <div class="evo-flex">
                    <p class="evo-challenge-label">
                        <strong>Cím:</strong>
                    </p>
                    @Html.TextBoxFor(m => Model.SelectedChallenge.Title, new
                    {
                        @class = "evo-margin",
                        @required = "required",
                        @minlength = "3",
                        @placeholder = "Add meg a kihívás nevét"
                    })
                </div>
                <div class="evo-flex">
                    <p class="evo-challenge-label">
                        <strong>Elvárt Fejlődés:</strong>
                    </p>
                    @Html.TextBoxFor(m => Model.SelectedChallenge.RequiredGrowth, new
                    {
                        @class = "evo-margin",
                        @type = "number",
                        @min = "0", 
                        @max = "100",
                        @placeholder = "0"
                    })
                </div>

                <div class="evo-flex">
                    <p class="evo-challenge-label">
                        <strong>Elvárt Gondoskodás:</strong>
                    </p>
                    @Html.TextBoxFor(m => Model.SelectedChallenge.RequiredCare, new
                    {
                        @class = "evo-margin",
                        @type = "number",
                        @min = "0",
                        @max = "100",
                        @placeholder = "0"
                    })
                </div>
                <div class="evo-flex">
                    <p class="evo-challenge-label">
                        <strong>Elvárt Jelenlét:</strong>
                    </p>
                    @Html.TextBoxFor(m => Model.SelectedChallenge.RequiredPresence, new
                    {
                        @class = "evo-margin",
                        @type = "number",
                        @min = "0",
                        @max = "100",
                        @placeholder = "0"
                    })
                </div>
                <div class="evo-flex">
                    <p class="evo-challenge-label">
                        <strong>Elvárt Megbízhatóság:</strong>
                    </p>
                    @Html.TextBoxFor(m => Model.SelectedChallenge.RequiredTrust, new
                    {
                        @class = "evo-margin",
                        @type = "number",
                        @min = "0",
                        @max = "100",
                        @placeholder = "0"
                    })
                </div>
                <div class="evo-flex">
                    <p class="evo-challenge-label">
                        <strong>Elvárt Merészség:</strong>
                    </p>
                    @Html.TextBoxFor(m => Model.SelectedChallenge.RequiredBravery, new
                    {
                        @class = "evo-margin",
                        @type = "number",
                        @min = "0",
                        @max = "100",
                        @placeholder = "0"
                    })
                </div>
                <div class="evo-flex">
                    <p class="evo-challenge-label">
                        <strong>Szerezhető Fejlődés:</strong>
                    </p>
                    @Html.TextBoxFor(m => Model.SelectedChallenge.GainableGrowth, new
                    {
                        @class = "evo-margin",
                        @type = "number",
                        @min = "0",
                        @max = "100",
                        @placeholder = "0"
                    })
                </div>

                <div class="evo-flex">
                    <p class="evo-challenge-label">
                        <strong>Szerezhető Gondoskodás:</strong>
                    </p>
                    @Html.TextBoxFor(m => Model.SelectedChallenge.GainableCare, new
                    {
                        @class = "evo-margin",
                        @type = "number",
                        @min = "0",
                        @max = "100",
                        @placeholder = "0"
                    })
                </div>
                <div class="evo-flex">
                    <p class="evo-challenge-label">
                        <strong>Szerezhető Jelenlét:</strong>
                    </p>
                    @Html.TextBoxFor(m => Model.SelectedChallenge.GainablePresence, new
                    {
                        @class = "evo-margin",
                        @type = "number",
                        @min = "0",
                        @max = "100",
                        @placeholder = "0"
                    })
                </div>
                <div class="evo-flex">
                    <p class="evo-challenge-label">
                        <strong>Szerezhető Megbízhatóság:</strong>
                    </p>
                    @Html.TextBoxFor(m => Model.SelectedChallenge.GainableTrust, new
                    {
                        @class = "evo-margin",
                        @type = "number",
                        @min = "0",
                        @max = "100",
                        @placeholder = "0"
                    })
                </div>
                <div class="evo-flex">
                    <p class="evo-challenge-label">
                        <strong>Szerezhető Merészség:</strong>
                    </p>
                    @Html.TextBoxFor(m => Model.SelectedChallenge.GainableBravery, new
                    {
                        @class = "evo-margin",
                        @type = "number",
                        @min = "0",
                        @max = "100",
                        @placeholder = "0"
                    })
                </div>
                <button type="submit" class="btn btn-primary">Mentés</button>
            </div>
        }
    </div>
}

<div id="addChallenge" style="display:none;">
    @using (Html.BeginForm("SaveNewChallenge", "Challenge", FormMethod.Post))
    {
        <div class="evo-details-margin">
            <div class="evo-flex">
                <p class="evo-challenge-label">
                    <strong>Név:</strong>
                </p>
                @Html.TextBoxFor(m => m.NewChallenge.Title, new { 
                    @class = "evo-margin",
                    @required = "required",
                    @minlength = "3",
                    @placeholder = "Add meg a kihívás nevét"
                })
            </div>
            <div class="evo-flex">
                <p class="evo-challenge-label">
                    <strong>Elvárt Fejlődés</strong>
                </p>
                @Html.TextBoxFor(m => m.NewChallenge.RequiredGrowth, new
                    {
                        @class = "evo-margin",
                        @type = "number",
                        @min = "0",
                        @max = "100"
                    })
            </div>
            <div class="evo-flex">
                <p class=" evo-challenge-label">
                    <strong>Elvárt Gondoskodás</strong>
                </p>
                @Html.TextBoxFor(m => m.NewChallenge.RequiredCare, new
                    {
                        @class = "evo-margin",
                        @type = "number",
                        @min = "0",
                        @max = "100"
                    })
            </div>
            <div class="evo-flex">
                <p class=" evo-challenge-label">
                    <strong>Elvárt Jelenlét</strong>
                </p>
                @Html.TextBoxFor(m => m.NewChallenge.RequiredPresence, new
                    {
                        @class = "evo-margin",
                        @type = "number",
                        @min = "0",
                        @max = "100"
                    })
            </div>
            <div class="evo-flex">
                <p class=" evo-challenge-label">
                    <strong>Elvárt Megbízhatóság</strong>
                </p>
                @Html.TextBoxFor(m => m.NewChallenge.RequiredTrust, new
                    {
                        @class = "evo-margin",
                        @type = "number",
                        @min = "0",
                        @max = "100"
                    })
            </div>
            <div class="evo-flex">
                <p class=" evo-challenge-label">
                    <strong>Elvárt Merészség</strong>
                </p>
                @Html.TextBoxFor(m => m.NewChallenge.RequiredBravery, new
                {
                    @class = "evo-margin",
                    @type = "number",
                    @min = "0",
                    @max = "100"
                })
            </div>
            <div class="evo-flex">
                <p class="evo-challenge-label">
                    <strong>Szerezhető Fejlődés</strong>
                </p>
                @Html.TextBoxFor(m => m.NewChallenge.GainableGrowth, new
                {
                    @class = "evo-margin",
                    @type = "number",
                    @min = "0",
                    @max = "100"
                })
            </div>
            <div class="evo-flex">
                <p class="evo-challenge-label">
                    <strong>Szerezhető Gondoskodás</strong>
                </p>
                @Html.TextBoxFor(m => m.NewChallenge.GainableCare, new
                {
                    @class = "evo-margin",
                    @type = "number",
                    @min = "0",
                    @max = "100"
                })
            </div>
            <div class="evo-flex">
                <p class="evo-challenge-label">
                    <strong>Szerezhető Jelenlét</strong>
                </p>
                @Html.TextBoxFor(m => m.NewChallenge.GainablePresence, new
                {
                    @class = "evo-margin",
                    @type = "number",
                    @min = "0",
                    @max = "100"
                })
            </div>
            <div class="evo-flex">
                <p class="evo-challenge-label">
                    <strong>Szerezhető Megbízhatóság</strong>
                </p>
                @Html.TextBoxFor(m => m.NewChallenge.GainableTrust, new
                {
                    @class = "evo-margin",
                    @type = "number",
                    @min = "0",
                    @max = "100"
                })
            </div>
            <div class="evo-flex">
                <p class="evo-challenge-label">
                    <strong>Szerezhető Merészség</strong>
                </p>
                @Html.TextBoxFor(m => m.NewChallenge.GainableBravery, new
                {
                    @class = "evo-margin",
                    @type = "number",
                    @min = "0",
                    @max = "100"
                })
            </div>
            <button type="submit" class="btn btn-primary">Mentés</button>
        </div>
    }
</div>